.bestDeals {
  @apply h-auto w-[100vw] ;

  h4 {
    @apply text-center text-overlineSmall md:text-overlineBig leading-h4Small lg:leading-h4Big font-semibold ;
    @apply mb-sixteen ;
    color: var(--indigo);
  }

  h2 {
    @apply text-h2Small md:text-h2Big leading-h2Small md:leading-h2Big text-center font-bold ;
    @apply mb-fortyBig;
  }

  .highlight {
    @apply relative inline-block;
  }

  .highlight::after {
    @apply absolute left-1/2 w-[100%] h-[10px] -z-10 bottom-[10px] md:bottom-[20px];
    background-color: var(--gold);
    content: ""; 
    transform: translateX(-50%); 
  }

  &_cards {
    @apply w-[90%] md:w-[80%] m-auto grid md:grid-cols-3 ;
  }

  &_button {
    @apply w-full text-center;

    button {
      @apply pt-3 pb-3 pl-[32vw] pr-[32vw] md:pl-28 md:pr-28;
      border: 2px solid var(--green);
    }
  }

  &-title {
    @apply w-[70%] m-auto mb-[5rem];
  }
}

//768px
@media (max-width:1440px){
  .bestDeals{
    @apply pt-eightySmall pb-eightySmall;
  }
}