@use "@/styles/variables.scss";

.banner {
  @apply h-auto flex flex-col items-center z-20 relative -mt-16;
  background-color: var(--light-bg);

  &-heading {
    @apply flex items-center gap-2 px-4 text-center md:text-h4Big mb-fiftySixSmall md:mb-fiftySixBig font-bold relative;

    &::before,
    &::after {
      content: "";
      @apply absolute top-1/2 h-[1px] w-[45%];
      background-color: var(--divider);
    }

    &::before {
      left: -45%;
    }

    &::after {
      right: -45%;
    }

    .icon {
      @apply w-6 h-7;
    }

    span {
      color: var(--indigo);
    }
  }

  /* images on large screen */
  .banner-images {
    @apply flex w-[80vw] h-[50%] m-auto justify-between;

    img {
      @apply object-contain w-[8rem];
    }
  }

  /* Swiper Carousel */
  .banner-slider {
    @apply w-[90vw] h-[10vh] hidden;

    .swiper-slide {
      @apply flex justify-center;

      img {
        @apply w-auto h-auto max-w-full;
      }
    }
  }

  /* Swiper Pagination */
  .swiper-pagination {
    @apply flex justify-center mt-10;
  }

  .swiper-pagination-bullet {
    @apply opacity-50 w-2 h-2 mx-1 rounded-full transition-all duration-300 mt-5;
    background-color: var(--divider);
  }

  .swiper-pagination-bullet-active {
    @apply opacity-100 w-2 h-2;
    background-color: var(--secondary-text);
  }

  @media (max-width: 768px) {
    .banner-heading {
      @apply flex-col text-h4Small;

      &::before,
      &::after {
        content: none;
      }

      img {
        @apply flex;
      }
    }

    .icon {
      @apply w-6 h-8 block;
    }

    .banner-images {
      @apply hidden;
    }

    .banner-slider {
      @apply flex;

      .swiper-slide img {
        @apply w-[8rem] h-[1.5rem];
      }
    }
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .banner-images {
    img{
      @apply w-[15%] !important;
    }
  }
}