.whatWeDo {
  @apply grid lg:grid-cols-[40%_60%] h-[100%];
  &-container {
    @apply h-auto;
    background-color: var(--light-bg);
  }
  //   what we do and image
  > :nth-child(1) {
    h2 {
      @apply mb-sixteen lg:mb-0;
    }
    span {
      @apply h-[90%];

      img {
        @apply w-full pr-20 hidden lg:flex;
      }
    }
  }
  &-card {
    @apply h-auto lg:pb-10 lg:mb-10 pb-5 mb-5 ;
    border-bottom: 1px solid var(--divider);
    &-container {
      @apply lg:pl-20 lg:pr-10 lg:overflow-auto lg:scrollbar-hide;
      border-left: 1px solid var(--divider);
    }
    // icon, title, and number
    div {
      @apply grid lg:grid-cols-[10%_90%] mb-2;
      span {
        @apply h-[3rem] lg:h-[100%] flex;
        img {
          @apply h-[80%] lg:m-auto;
        }
      }
      // title, number
      div {
        @apply flex justify-between items-center;

        h2 {
          color: var(--vlight-grey);
        }
      }
    }
    ul {
      @apply lg:grid lg:grid-rows-3 lg:grid-flow-col;

      li {
        img {
          @apply inline-block h-1 w-1 lg:h-3 lg:w-3 mr-4;
        }
        h5 {
          @apply inline-block;
          @apply mb-1;
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  .whatWeDo {
    &-card {
      &-container {
        @apply pl-5 pr-0;
      }

      h5 {
        @apply text-[1.1rem] !important;
      }
    }
  }
}
@media (max-width: 768px) {
  .whatWeDo {
    &-card {
      &-container {
        @apply p-0;
        border-left: none;
      }
    }
  }
}
