@use "@/styles/variables.scss";

.aboutus {
  @apply h-full flex;
  // border-bottom: 10px solid red;
  &-container {
    @apply relative -top-[4rem];
    height: calc(101vh);
  }
  &-content {
    @apply mt-[4rem] w-full flex;
    background-image: url("/assets/images/aboutUs.png");
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  &-heading {
    @apply mt-auto mb-auto ml-[2rem];
    h3 {
      color: var(--gold);
      @apply text-h3Small lg:text-h3Big font-gilroy font-extrabold;
    }
    img {
      @apply h-[8vh] mt-sixteen mb-sixteen;
    }
    h4 {
      color: var(--light-grey);
      @apply text-h4Small lg:text-h4Big font-gilroy font-extrabold;
    }
    .aboutus-tagline {
      @apply mt-8 max-w-2xl;
      h2 {
        @apply text-h2Small lg:text-h2Big font-gilroy font-extrabold mb-4;
        background: linear-gradient(90deg, var(--primary-text) 70%, var(--green));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p {
        @apply text-h4Small lg:text-h4Big;
        color: var(--secondary-text);
        @apply leading-relaxed;
      }
    }
  }
}

@media (max-width: 768px) {
  .aboutus {
    &-content {
      background-image: url("/assets/images/about-small.png");
      background-size: 100% 100%;
    }
    &-heading {
      @apply mt-auto mb-auto ml-5 mr-5 text-center w-full;
      img {
        @apply h-[6vh] ml-auto mr-auto;
      }
      .aboutus-tagline {
        @apply mt-4;
        h2 {
          @apply text-h3Small lg:text-h3Big;
        }
        p {
          @apply text-h5Small lg:text-h5Big;
        }
      }
    }
  }
}
