@use "sass:map";
@use "sass:color";

/* for dark themes */
/* [data-theme="dark"]{
  --bg-color:black;
  --primary-text:white;
}  */

:root {
  /* background colors */
  --bg-color: white;
  --light-bg: #f7f7fa;
  --input-bg: #fcfcff;
  --bg-blue: 20, 22, 56;
  --box-shadow: 150, 169, 238;

  /* text colors */
  --primary-text: #07092d;
  --secondary-text: #616381;
  --light-grey: #a7a9d1;
  --vlight-grey: #eeeef5;
  --green: #19c19e;
  --indigo: #2901e8;
  --gold: #e0c18d;
  --dark-blue: #07092d;
  --light-blue: #1e204a;
  --blue-border: #6c6ea6;

  /* border colors */
  --border-color: rgba(139, 149, 216, 0.3);
  --divider: #e2e2e9;
}

// Breakpoint variables
$breakpoints: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1200px,
  'xxl': 1400px
);

// Mixins for media queries
@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "No value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map.keys($breakpoints)}.";
  }
}
