.front-page {
  @apply w-full h-[100vh] absolute top-0 left-0 z-10 flex;
  background-image: url("./assets/images/main_bnr.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.side-nav {
  @apply w-[4rem] flex flex-col p-5;

  border-right: 1px solid var(--border-color);
}
.side-nav div {
  margin-top: auto;
}

.side-nav div img {
  @apply mt-2 mb-2;
}

.front-page_heading {
  @apply w-[30vw];
  margin: auto 0 auto 6rem;
}
.front-page_heading h1 {
  @apply font-bold text-[3rem];
}

.front-page_heading h1 span{
  background: linear-gradient(90deg, var(--primary-text) 70%, var(--green) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.front-page_heading h4 {
  @apply text-[1rem] w-[90%] pt-5 pb-5;
  color: var(--secondary-text);
}
