@use "@/styles/variables.scss";
.header {
  @apply z-50 relative h-headerSmall md:h-headerBig w-full;
}

@media (max-width: 768px) {
  .header {
    @apply w-[100vw];
    background-color: #fff;
  }
}

.header nav {
  @apply flex h-full w-screen justify-between items-center;
  border-bottom: 1px solid var(--border-color);
}

.header-items {
  @apply flex h-full;

  > * {
    @apply h-[50%] flex mt-auto mb-auto;
    margin: auto 0.5rem;
  }

  > * img {
    @apply h-[60%] m-auto;
  }
}

.logo {
  @apply h-full flex;
}

.logo img {
  @apply h-[70%] m-auto;
}

.navigation {
  @apply h-full w-[4rem] flex ml-0;
  span {
    @apply m-auto w-[2vw] h-[2vw] flex;
    @apply rounded-full;
    border: 1px solid var(--light-grey);
  }

  img {
    @apply w-[50%] h-[auto] m-auto;
  }
}

.hiddenClass {
  display: flex;
}

.smallScreen {
  @apply flex;
  display: none;
  width: 3rem;
  > * {
    @apply m-auto;
  }
}

@media (max-width: 1024px) {
  .navigation {
    span {
      @apply w-[3vw] h-[3vw];
    }
  }
}

@media (max-width: 768px) {
  .hiddenClass {
    display: none;
  }

  .smallScreen {
    display: flex;
  }
  .navigation {
    width: 3rem;
    span {
      @apply w-[4vw] h-[4vw];
    }
  }
}
@media (max-width: 426px) {
  .navigation {
    span {
      @apply w-[10vw] h-[10vw];
      border: none;
    }
  }
}
