@use "@/styles/variables.scss";

.hero {
  @apply relative top-[-4rem] bg-transparent;
  height: calc(102vh);

  &-button {
    @apply w-[15vw] h-[10vh] hidden lg:flex;
    border-radius: 20px 0px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    button {
      @apply m-auto w-[90%] h-[70%] bg-white text-btnBig font-bold;
      border-radius: 20px 0px;
    }

    &-commercial {
      @apply absolute top-[65vh] left-[45vw];
      background: rgba(25, 193, 158, 0.2);
    }
    &-personal {
      @apply absolute bottom-[20vh] right-[5vw];
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.front-page {
  @apply lg:w-full h-full left-0 z-10 flex;
  background: {
    image: url("/assets/images/home.png");
    size: contain;
    repeat: no-repeat;
    position: bottom right;
  }
}

/* Heading section */
.front-page_heading {
  @apply w-[50%] lg:mt-auto lg:mr-0 lg:mb-auto lg:ml-[2rem] font-gilroy;

  h1 {
    // font
    @apply font-bold;
    span {
      background: linear-gradient(90deg, var(--primary-text) 70%, var(--green));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  h4 {
    // margin
    @apply mt-fortySmall lg:mt-fortyEightBig mb-eightySmall lg:mb-eightyBig font-medium;
    @apply w-[90%];
    color: var(--secondary-text);
  }
}

/* Media queries */
@media (max-width: 1200px) {
  .front-page_heading {
    @apply lg:w-[40vw];
  }
}

@media (max-width: 1024px) {
  .front-page {
    background-size: 90% 100%;
  }

  .front-page_heading {
    @apply w-[60vw];
  }
}

@media (max-width: 768px) {
  .front-page {
    background-image: url("/assets/images/bnr_mobile.png");
    background-size: cover;
    background-position: center;
    @apply flex flex-col items-center justify-center p-4;
  }

  .front-page_heading {
    @apply m-auto mb-auto mt-[10rem] mr-10 w-[90vw];

    h1 {
      color: white;

      span {
        color: white;
        background: none;
        -webkit-background-clip: unset;
        background-clip: unset;
        -webkit-text-fill-color: unset;
      }
    }

    h4 {
      color: white;
    }
  }
}

@media (max-width: 426px) {
  .front-page_heading {
    @apply w-[90vw] m-auto mt-40;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .front-page_heading {
    @apply mt-auto mb-auto ml-[3rem] mr-[3rem] w-[80vw];
  }
}
