.testimonial {
  @apply h-full w-full;

  //padding
  @apply pt-eightyBig pb-eightyBig 
         pl-containerSideSmall pr-containerSideSmall
         md:pl-containerSideBig md:pr-containerSideBig;

  //grid system
  @apply grid grid-cols-1 md:grid-cols-3 md:grid-rows-[85%_15%];
  grid-template-areas:
    "testimonial reviews reviews"
    "buttons reviews reviews";
  &-container {
    @apply h-auto w-full;
    background-color: var(--light-bg);
  }

  &-header {
    @apply grid md:grid-cols-[20%_35%_55%] grid-rows-[30%_30%_10%_30%];
    grid-area: testimonial;

    h2 {
      @apply text-h2Small md:text-h2Big col-span-3 col-start-1 row-span-1 row-start-1 font-bold;
    }
    .googleLogo {
      @apply h-[50%] col-span-1 col-start-1 row-start-2 row-span-1;
    }
    p {
      @apply font-bold text-smallBodyBig md:text-overlineBig col-start-2 col-span-1 row-start-2 row-span-1;
    }
    span {
      @apply text-overlineSmall md:text-overlineBig col-span-1 col-start-2 row-span-1 row-start-3;
      img {
        @apply h-[2vh] inline-block;
      }
    }
    .allReviewLink {
      @apply text-btnSmall md:text-btnBig font-bold row-span-1 row-start-4 col-span-3 col-start-1 mt-fiftySixSmall md:mt-fiftySixBig md:text-left;
      div {
        @apply inline-block;
        border-bottom: 2px solid var(--green);
      }
      svg {
        @apply w-3 h-3 inline-block;
      }
    }
  }
  &-navigation {
    @apply mt-sixteen ;
    cursor: pointer;
    grid-area: buttons;
    svg {
      @apply w-10 h-10 inline-block mr-10;
    }
  }
  &-reviews {
    @apply w-[100%] md:w-[90%] ml-auto mr-auto;
    &-container {
      @apply grid  grid-cols-1 md:grid-cols-2;
      grid-area: reviews;
    }
    .apostrophe {
      @apply h-[2vh] flex;
      img {
        @apply h-full inline-block;
        color: var(--divider);
      }
      span {
        @apply h-[.1vh] m-auto w-[90%] inline-block;
        background-color: var(--divider);
      }
    }
    .rating {
      @apply h-[5vh] mt-thirtyTwoSmall md:mt-thirtyTwoBig;
      img {
        @apply h-[2vh] inline-block;
      }
    }
    .tags {
      @apply h-[5vh] font-bold text-overlineSmall md:text-overlineBig;
      color: var(--divider);

      span {
        color: var(--indigo);
      }
    }
    .review-text {
      @apply h-[10vh] md:h-[20vh] overflow-auto text-body1Small md:text-body1Big;
    }
    .reviewer {
      @apply grid grid-cols-[20%_80%] mt-fiftySixSmall md:mt-fiftySixBig;

      img {
        @apply col-start-1 p-3 text-overlineSmall md:text-overlineBig;
      }
      div {
        @apply col-start-2;

        display: block;
        .name {
          @apply block font-bold text-overlineSmall md:text-overlineBig;
        }
        .date {
          @apply text-smallBodySmall md:text-smallBodyBig;
          color: var(--secondary-text);
        }
      }
    }
  }
}
@media (max-width: 465px) {
  .testimonial {
    grid-template-areas:
      "testimonial "
      "reviews"
      "buttons ";
  }
}
