@use "@/styles/variables.scss";

.testimonial {
  @apply h-full w-full;


  //grid system
  @apply grid grid-cols-1 lg:grid-cols-3 lg:grid-rows-[85%_15%];
  grid-template-areas:
    "testimonial reviews reviews"
    "buttons reviews reviews";
  &-container {
    @apply h-auto w-full;
    background-color: var(--light-bg);
  }

  &-header {
    @apply grid lg:grid-cols-[20%_35%_55%] grid-rows-[30%_30%_10%_30%];
    grid-area: testimonial;

    h2 {
      @apply text-h2Small lg:text-h2Big col-span-3 col-start-1 row-span-1 row-start-1 font-bold;
      @apply leading-h2Small lg:leading-h2Big;
    }
    .googleLogo {
      @apply h-[50%] col-span-1 col-start-1 row-start-2 row-span-1;
    }
    p {
      @apply font-bold text-smallBodyBig lg:text-overlineBig col-start-2 col-span-1 row-start-2 row-span-1;
      @apply leading-smallBodySmall lg:leading-smallBodyBig;
    }
    span {
      @apply text-overlineSmall lg:text-overlineBig col-span-1 col-start-2 row-span-1 row-start-3;
      img {
        @apply h-[2vh] inline-block;
      }
    }
    .allReviewLink {
      @apply text-btnSmall lg:text-btnBig font-bold row-span-1 row-start-4 col-span-3 col-start-1 mt-fiftySixSmall lg:mt-fiftySixBig lg:text-left;
      div {
        @apply inline-block;
        border-bottom: 2px solid var(--green);
      }
      svg {
        @apply w-3 h-3 inline-block;
      }
    }
  }
  &-navigation {
    @apply mt-sixteen ;
    cursor: pointer;
    grid-area: buttons;
    svg {
      @apply w-10 h-10 inline-block mr-10;
    }
  }
  &-reviews {
    @apply w-[100%] lg:w-[90%] ml-auto mr-auto;
    &-container {
      @apply grid  grid-cols-1 lg:grid-cols-2;
      grid-area: reviews;
    }
    .apostrophe {
      @apply h-[2vh] flex;
      img {
        @apply h-full inline-block;
        color: var(--divider);
      }
      span {
        @apply h-[.1vh] m-auto w-[90%] inline-block;
        background-color: var(--divider);
      }
    }
    .rating {
      @apply h-[5vh] mt-thirtyTwoSmall lg:mt-thirtyTwoBig;
      img {
        @apply h-[2vh] inline-block;
      }
    }
    .tags {
      @apply h-[5vh] font-bold text-overlineSmall lg:text-overlineBig;
      @apply mb-twentyFourSmall lg:mb-twentyFourBig;
      color: var(--divider);

      span {
        color: var(--indigo);
      }
    }
    .review-text {
      @apply h-[20vh] overflow-auto text-body1Small lg:text-body1Big font-gilroy;
      @apply leading-body1Small lg:leading-body1Big;
    }
    .reviewer {
      @apply grid grid-cols-[20%_80%] mt-fiftySixSmall lg:mt-fiftySixBig;

      img {
        @apply col-start-1 p-3 text-overlineSmall lg:text-overlineBig;
      }
      div {
        @apply col-start-2;

        display: block;
        .name {
          @apply block font-bold text-overlineSmall lg:text-overlineBig;
        }
        .date {
          @apply text-smallBodySmall lg:text-smallBodyBig;
          color: var(--secondary-text);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .testimonial {
    grid-template-areas:
      "testimonial "
      "reviews"
      "buttons ";
  }
}
