@use "@/styles/variables.scss";
@use '@/styles/mixins' as *;

.whyUs {
  &-cards-container {
    @apply grid lg:grid-cols-[38.5%_10%_10%_38.5%] lg:grid-rows-[25rem_25rem_25rem] gap-3 ;

    > :nth-child(1) {
      @apply lg:col-span-1;
    }
    > :nth-child(2) {
      @apply lg:col-span-3;
    }
    > :nth-child(3) {
      @apply col-span-2;
    }
    > :nth-child(4) {
      @apply col-span-2;
    }
    > :nth-child(5) {
      @apply col-span-3;
    }
    > :nth-child(6) {
      @apply col-span-1;
    }
  }
  &-card {
    @apply p-fortyEightBig w-full h-full m-auto ;
    border: 1px solid var(--divider);
    div {
      @apply flex justify-between items-center;
      @apply h-[20%];
      span {
        @apply h-[70%] p-3;
        @include box-shadow(all, small);
        border-radius: 0% 20%;

        img {
          @apply h-full ;
        }
      }
      // for numbers 01,02,03 etc
      h3 {
        color: var(--gold);
      }
    }

    // paragraph under heading
    p {
      @apply h-[60%];
      @apply text-body1Small lg:text-body1Big font-gilroy;
      @apply leading-body1Small lg:leading-body1Big;
      @apply h-full;
      overflow-y: auto;
    }
  }
  
  // for heading in blue
  &-heading {
    @apply h-auto pb-2;
    @apply text-h3Small lg:text-h3Big;
    @apply leading-h3Small lg:leading-h3Big;
    color: var(--indigo);
  }
}

@media (max-width:2560px){
  .whyUs {
    &-cards-container {
      @apply grid-rows-[20rem_20rem_20rem];
    }
    &-heading{
      @apply text-[2rem];
    }
    
  }
}
@media(max-width:1440px){
  .whyUs {
    &-cards-container {
      @apply grid-rows-[25rem_25rem_25rem];
    }
    &-heading{
      @apply text-[2rem];
    }
    
  }
}
@media (max-width:1024px){
  .whyUs {
    &-cards-container {
      @apply grid-rows-[35rem_35rem_35rem];
    }
    &-card{
      div{
        span{
          @apply p-5;
        }
      }
    }
    &-heading{
      @apply text-[2rem];
    }
    
  }
}
@media (max-width: 768px) {
  .whyUs {
    &-cards-container {
      @apply grid-rows-[15rem_auto];
      grid-template-columns: 1fr;
    }
    &-card {
      display: none;
      div{
        span{
          @apply p-4;
        }
      }
    }

    &-card-1,
    &-card-2 {
      @apply col-span-1 p-4;
      display: block;

      div {
        @apply h-[5rem];
      }
      
    }
  }
}
