.blog {
  &-hero {
    @apply relative -top-[4rem] flex w-full;
    height: 101vh;
  }

  &-hero-content {
    @apply grid grid-cols-[3fr_1fr] lg:grid-rows-[1fr_1fr_6fr];
    @apply pt-[5rem] pl-[1rem] lg:pl-[3rem] pr-[1rem] lg:pr-[4rem] lg:pb-[0rem];
    width: 96rem;
    gap: 3rem;
    grid-template-areas:
      "news search"
      "category category"
      "featured featured";
  }

  &-header {
    grid-area: news;
    h1 {
      @apply font-bold ;
    }
  }

  &-categories {
    @apply mt-auto mb-auto ;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    grid-area: category;
  }

  &-category-button {
    @apply pl-5 pr-5 pt-2 pb-2;
    @apply font-bold;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.active {
      background-color: black;
      color: white;
    }
    &-small {
      @apply ml-auto;
    }
  }

  &-featured {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    grid-area: featured;

    h3 {
      @apply font-bold;
    }

    p {
      @apply text-body1Small lg:text-body1Big;
      @apply font-medium;
    }
  }

  &-featured-image {
    width: 100%;
    object-fit: cover;
  }

  &-featured-content {
    @apply pt-[1rem] lg:p-[1rem];

    span {
      @apply text-overlineSmall lg:text-overlineBig font-bold;
      @apply pt-2 pb-2 lg:pl-3 lg:pr-3;
      @apply inline-block lg:mb-2;
      background-color: var(--light-bg);
      border-radius: 25px;
    }
    div {
      @apply inline-block lg:p-2 rounded-full;
      @apply lg:mt-10;
      cursor: pointer;
      svg {
        color: var(--indigo);
      }
    }
  }
}

@media (max-width: 768px) {
  .blog {
    &-hero {
      height: auto;
    }
    &-hero-content {
      @apply grid-cols-2;

      grid-template-areas:
        "news category"
        "search search"
        "featured featured";
    }

    &-featured {
      grid-template-columns: 1fr;
    }
  }
}
