@use "@/styles/variables.scss";

.arrow-icon {
  @apply p-2;
  display: flex;
  box-sizing: content-box;

  color: var(--icon-color);
  border: var(--icon-border);
  border-radius: 9999px;
  transition: color 0.5s ease, border 0.5s ease;
  svg {
    width: 20px;
    height: 20px;
  }
}

.hover-arrow-parent:hover .arrow-icon {
  // @apply rounded-full h-full w-full ;
  color: var(--icon-hover-color);
  // border: 1px solid var(--icon-hover-color);
}

@media (max-width: 767px) {
  .arrow-icon {
    @apply p-0 ;
    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }
}
