@use "@/styles/variables.scss";

.arrow-icon {
  width: 20px;
  height: 20px;
  color: var(--icon-color);
  border: var(--icon-border);
  border-radius: 9999px;
  transition: color 1s ease, border 1s ease;

  box-sizing: border-box;
}

@media (max-width: 768px) {
  .arrow-icon {
    width: 12px;
    height: 12px;
  }
}

