.contact {
  @apply h-auto w-full;

  &-container {
    @apply h-auto w-auto;
    background: linear-gradient(
      to bottom,
      white 80%,
      var(--primary-text) 80%,
      var(--primary-text) 100%
    );
  }

  &-content {
    @apply h-auto w-full lg:grid lg:grid-cols-[70%_30%] lg:grid-rows-[10%_90%];
    grid-template-areas:
      "buttons info"
      "form info";
  }
  &-buttons {
    @apply w-full flex justify-around;
    grid-area: buttons;

    h5 {
      @apply bg-white text-black inline-block w-[50%] text-center p-6 mb-0;
      border: 1px solid var(--divider);
      cursor: pointer;
    }

    h5.active {
      @apply text-white;
      background-color: var(--indigo);
    }
  }
  &-form-container {
    grid-area: form;
    border: 1px solid var(--divider);
  }
  &-info {
    grid-area: info;
    @apply relative z-10;
    background-color: var(--light-blue);

    &-content {
      @apply relative lg:mt-20 mb-10 pb-10 ml-10 mr-10;

      img {
        @apply h-[4vh];
      }
      div {
        @apply mt-fiftySixSmall lg:mb-fiftySixBig;
        img {
          @apply h-[3vh] inline-block;
        }
        span {
          @apply text-overlineSmall lg:text-overlineBig ml-2 font-bold;
          @apply leading-overlineSmall lg:leading-overlineBig;
          color: var(--light-grey);
        }
        h4 {
          @apply text-white;
        }
      }
    }
  }

  &-border-image {
    @apply absolute top-0 right-0 z-20 h-[30vh];
  }
}
@media (max-width: 767px) {
  .contact-content {
    @apply grid-cols-1;
    grid-template-areas:
      "buttons "
      "form "
      "info";
  }
}
