.industry-blog {
  &-section {
    @apply md:grid md:grid-cols-[40%_60%];
    background-color: var(--light-bg);
  }

  &-content {
    flex: 1;

    a {
      @apply text-btnSmall lg:text-btnBig font-bold;
      border-bottom: 2px solid var(--green);
    }
  }
  &-navigation {
    @apply mt-fortySmall lg:mt-fortyBig mb-fortySmall lg:mb-fortyBig flex;

    .industry-blog-nav-btn {
      @apply p-2;
      background: none;
      border: 1px solid #000;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 10px;
      transition: all 0.3s ease;

      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
  &-posts {
    display: flex;

    gap: 20px;

    
  }
}
