@use "./styles/fonts.scss";
@use "./styles/common.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* for dark themes */
/* [data-theme="dark"]{
  --bg-color:black;
  --primary-text:white;
}  */

:root {
  /* background colors */
  --bg-color: white;
  --light-bg: #f7f7fa;
  --bg-blue: 20, 22, 56;

  /* text colors */
  --primary-text: #07092d;
  --secondary-text: #616381;
  --light-grey: #a7a9d1;
  --vlight-grey: #eeeef5;
  --green: #19c19e;
  --indigo: #2901e8;
  --gold: #e0c18d;
  --dark-blue: #07092d;
  --light-blue: #1e204a;
  --blue-border: #6c6ea6;

  /* border colors */
  --border-color: rgba(139, 149, 216, 0.3);
  --divider: #e2e2e9;

  // font sizes
  --h2-big: 3.8rem;
  --h2-small: 2.2rem;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Abel", sans-serif;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

//common classes
.padding-container {
  @apply pt-eightySmall pb-eightySmall lg:pt-eightyBig lg:pb-eightyBig;
  @apply pl-containerSideSmall pr-containerSideSmall lg:pl-containerSideBig lg:pr-containerSideBig;
}
h1 {
  @apply text-h1Small lg:text-h1Big leading-h1Small lg:leading-h1Big font-gilroy;
}
h2 {
  @apply text-h2Small lg:text-h2Big font-bold;
  @apply leading-h2Small lg:leading-h2Big;
  @apply mb-fortyEightSmall lg:mb-fortyEightBig;
}
h3 {
  @apply text-h3Small lg:text-h3Big;
  @apply leading-h3Small lg:leading-h3Big;
  @apply mt-sixteen;
}
h4 {
  @apply text-h4Small lg:text-h4Big font-semibold;
}
h5 {
  //font
  @apply font-gilroy font-bold ;
  @apply text-h5Small lg:text-h5Big;
  @apply leading-h5Small lg:leading-h5Big;
  @apply mb-fortyEightSmall lg:mb-fortyEightBig;
}
