@use "@/styles/fonts.scss";
@use "@/styles/common.scss";
@use "@/styles/variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--bg-color);
  color: var(--primary-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Abel", sans-serif;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

//common classes
.padding-container {
  @apply pt-eightySmall pb-eightySmall lg:pt-eightyBig lg:pb-eightyBig;
  @apply pl-containerSideSmall pr-containerSideSmall lg:pl-containerSideBig lg:pr-containerSideBig;
}
h1 {
  @apply text-h1Small md:text-h1Big leading-h1Small md:leading-h1Big font-gilroy;
}
h2 {
  @apply text-h2Small lg:text-h2Big font-bold;
  @apply leading-h2Small lg:leading-h2Big;
  @apply mb-fortyEightSmall lg:mb-fortyEightBig;
}
h3 {
  @apply text-h3Small lg:text-h3Big;
  @apply leading-h3Small lg:leading-h3Big;
  @apply mt-sixteen;
}
h4 {
  @apply text-h4Small lg:text-h4Big font-semibold;
  @apply mb-fortySmall lg:mb-fortyBig;
}
h5 {
  //font
  @apply font-gilroy font-bold;
  @apply text-h5Small lg:text-h5Big;
  @apply leading-h5Small lg:leading-h5Big;
  @apply mb-fortyEightSmall lg:mb-fortyEightBig;
}


