@tailwind base;
@tailwind components;
@tailwind utilities;


/* for dark themes */
/* [data-theme="dark"]{
  --bg-color:black;
  --primary-text:white;
}  */


:root {

  /* background colors */
  --bg-color:white;

  /* text colors */
  --primary-text:#07092D; 
  --secondary-text:#616381;
  --light-grey:#A7A9D1;
  --green:#19C19E;

  /* border colors */
  --border-color:rgba(139, 149, 216, 0.3)

}


body{
  background-color: var(--bg-color);
  color:var(--primary-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}


/* common styles */

.btn{
  @apply pt-2 pb-2 pr-4 pl-4;

  border-radius: 0px 8px 0px 8px;
}

.btn-white{
  @apply font-bold;
  border:1px solid white ;
  font-size: .8rem;
  color: white;
}

.btn-green{
  @apply font-medium pt-2 pb-2 pr-8 pl-8;
  /* border:1px solid white ; */
  background-color: var(--green);
  font-size: .8rem;
  color: white;
}