@use "@/styles/variables.scss";



.blog-post {
  @apply relative border-2 ;
  border: 1px solid var(--divider);
  background: #fff;
  overflow: hidden;

  div {
    @apply relative;
    img {
      @apply z-10;
      width: 100%;
      height: auto;
    }

    .blog-badge {
      @apply z-20 pt-1 pb-1 pl-3 pr-3;
      @apply text-overlineSmall lg:text-overlineBig;
      display: inline-block;
      color: white;
      border: 1px solid white;
      border-radius: 20px;
      position: absolute;
      bottom: 5%;
      left: 10px;
    }
  }

  h4 {
    @apply p-5;
  }

  &:hover {
    cursor: pointer;
    h4 {
      color: var(--indigo);
    }
  }
}
