.bestOffers {
  // Container Layout
  @apply h-auto w-full grid 
         grid-rows-2 md:grid-rows-[30%_70%]
         md:grid-cols-[45%_55%];

  // Padding
  @apply pt-eightyBig pb-eightyBig 
         pl-containerSideSmall pr-containerSideSmall
         md:pl-containerSideBig md:pr-containerSideBig;

  &_container {
    @apply h-auto w-full relative;
    background-color: var(--dark-blue);
  }
  
  // Typography Styles
  h2 {
    @apply text-center md:text-left m-auto 
           md:w-[150%] text-h2Small md:text-h2Big 
           text-white relative z-20;

    span {
      color: var(--gold);
    }
  }

  h5 {
    @apply text-center md:text-left md:w-[150%] 
           text-h5Small md:text-h5Big text-white;
  }

  // Left Side Image
  &_img {
    @apply col-span-1 col-start-1 row-start-2 hidden md:flex;

    img {
      @apply object-contain w-full h-full;
    }
  }

  // Cards Section
  &_cards {
    @apply grid grid-cols-[75%_25%] h-auto w-[90%] 
           m-auto mb-4 md:mb-sixteen z-20 relative;
    color: var(--blue-border);
    background-color: var(--light-blue);

    // Card Left Section
    div:nth-child(1) {
      @apply grid grid-cols-[30%_70%] 
             text-smallBodySmall md:text-smallBodyBig font-gilroy;

      img {
        @apply w-[50%] m-auto;
      }
      span {
        @apply mt-auto mb-auto;
      }
    }

    // Card Right Section
    div:nth-child(2) {
      @apply grid grid-cols-[60%_40%];
    }

    // Card Hover States
    &:hover {
      border: 2px solid var(--blue-border);
      cursor: pointer;

      .bestOffers_cards_icon {
        color: var(--green);
        border: 2px solid var(--green);
        border-radius: 50% 50%;
      }
    }

    // Card Components
    &_icon {
      @apply m-auto p-1;
      color: white;

      svg {
        @apply w-3 h-3 md:w-7 md:h-7;
      }
    }

    &_price {
      @apply text-h2Small md:text-h2Big text-white relative;
    }

    &_sign {
      @apply text-h4Small md:text-h4Big top-0 left-[-15px] absolute;
      color: var(--blue-border);
    }
  }

  // Container Layouts
  &_cards-container {
    @apply col-span-1 md:col-start-2 row-start-2 
           grid grid-rows-[90%_10%] relative mt-2;
  }

  &_button {
    @apply w-full m-auto text-center ;
  }
}

// Decorative Elements
.borderImage {
  @apply absolute right-0 top-0 md:h-[50vh];
}

.bmVector {
  @apply absolute top-0 right-0 z-10 h-[10vh] md:h-[20vh];

  img {
    @apply h-full;
  }
}

//1024 px
@media (max-width: 1024px) {
  .bestOffers {
    &_cards-container {
      @apply mt-20;
    }

    &_cards {
      @apply w-[100%];

      &_icon {
        svg {
          @apply w-5 h-5;
        }
      }
    }

    &_button {
      @apply w-[90%] m-auto text-center;
    }
  }
}

//768 px
@media (max-width: 768px) {
  .bestOffers {
    @apply grid-cols-1 w-full max-w-[100vw] overflow-hidden;

    h2 {
      @apply text-center w-full bg-transparent;
    }

    &_img {
      @apply hidden;
    }

    &_cards-container {
      @apply col-span-1 row-start-2 grid grid-rows-[90%_10%] mt-20;
    }

    &_cards {
      @apply w-[95%] max-w-[95vw] m-auto mb-4 p-0;

      div:nth-child(1) {
        @apply grid grid-cols-[30%_70%] text-smallBodySmall font-gilroy;

        img {
          @apply w-[40%] m-auto;
        }

        span {
          @apply my-auto text-[1rem];
        }
      }

      div:nth-child(2) {
        @apply grid grid-cols-2;
      }
    }

    &_button {
      @apply w-[90%] m-auto text-center;
    }
  }
}

@media (max-width: 426px) {
  .bestOffers {
    &_cards-container {
      @apply -mt-2;
    }

    &_cards {
      @apply w-[95%] m-auto mb-4;

      div:nth-child(1) {
        span {
          @apply my-auto text-[.7rem];
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .bestOffers {
    &_cards-container {
      @apply mt-1;
    }
  }
}
