@use "@/styles/variables.scss";
@use "@/styles/mixins" as *;

.speciality {
  @apply h-full w-full gap-0;

  &-container {
    @apply w-full h-auto;
  }

  h2 {
    @apply font-bold w-full text-center;
  }
  h5 {
    @apply w-full text-center;
  }
  &-nav {
    @apply flex ml-auto mr-auto lg:mb-fiftySixBig h-[6vh] lg:h-[8vh] w-full lg:w-[40vw] text-h5Small lg:text-h5Big  font-gilroy;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      @apply text-center font-bold;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--divider);
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .active {
      background-color: var(--indigo);
      color: white;
    }
  }

  &-cards {
    @apply grid grid-rows-4  h-[20rem] lg:h-[24rem] w-[100%] ml-auto mr-auto mb-1 relative;

    &-content {
      @apply h-full w-full flex flex-col items-center justify-between;
    }

    img {
      @apply h-[7vh] m-auto mt-fortySmall lg:mt-fortyEightBig;
    }

    h3 {
      @apply m-auto font-bold;
    }

    p {
      @apply text-center text-body1Small lg:text-body1Big font-gilroy pl-5 pr-5 mt-sixteen;
      @apply leading-body1Small lg:leading-body1Big;
      color: var(--secondary-text);
    }

    .speciality-arrow {
      @apply absolute bottom-[1.8rem] lg:bottom-[2.4rem];
      @apply rounded-full;
    }

    &:hover {
      @include box-shadow(all, small);
      transition: 0.3s all ease-in;
      transform: scale(1.01);
      cursor: pointer;

      h3 {
        color: var(--green);
      }
      .speciality-arrow {
        border: 1px solid var(--green);
      }
    }
  }

  &-button {
    @apply w-full mt-fiftySixSmall lg:mt-fiftySixBig font-bold text-center text-btnSmall lg:text-btnBig;

    cursor: pointer;
    span {
      border-bottom: 2px solid var(--green);
    }

    svg {
      display: inline-block;
    }
  }
  &-cards-container {
    @apply grid grid-rows-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-[95%] m-auto mt-fiftySixSmall lg:mt-fiftySixBig;
  }
}
@media (max-width: 1440px) {
  .speciality {
    &-arrow {
      bottom: 1rem !important;
    }
  }
}

@media (max-width: 1200px) {
  .speciality {
    &-arrow {
      bottom: 0.5rem !important;
    }
  }
}
@media (max-width: 768px) {
  .speciality {
    &-arrow {
      bottom: 1rem !important;
    }
  }
}
