.speciality {
  @apply h-full w-full gap-0;

  &-container {
    @apply w-full h-auto;
  }

  h2 {
    @apply font-bold h-[10vh] w-full text-center lg:mb-fortyBig;
  }
  h5 {
    @apply h-[5vh] w-full text-center;
  }
  &-nav {
    @apply flex ml-auto mr-auto lg:mb-fiftySixBig h-[6vh] lg:h-[8vh] w-full lg:w-[40vw] text-h5Small lg:text-h5Big  font-gilroy;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      @apply text-center font-bold;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--divider);
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .active {
      background-color: var(--indigo);
      color: white;
    }
  }

  &-cards {
    @apply grid grid-rows-4 h-[18rem] w-[100%] ml-auto mr-auto mb-1;

    &-content {
      @apply h-full w-full flex flex-col items-center justify-between;
    }

    img {
      @apply h-[7vh] m-auto mt-fortySmall lg:mt-fortyEightBig;
    }

    h3 {
      @apply m-auto;
    }

    p {
      @apply text-center text-body1Small lg:text-body1Big font-gilroy pl-5 pr-5 mt-sixteen font-bold;
      @apply leading-body1Small lg:leading-body1Big;
      color: var(--secondary-text);
    }

    .speciality-arrow {
      @apply flex items-center justify-center mt-twentyFourSmall lg:mt-twentyFourBig;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
    }

    svg {
      @apply w-5 h-5;
      color: var(--indigo);
      transition: color 0.3s ease-in-out;
    }

    &:hover {
      transition: 0.3s all ease-in;
      transform: scale(1.01);
      cursor: pointer;
      box-shadow: 0 1px 10px var(--divider);

      h3 {
        color: var(--green);
      }

      .speciality-arrow {
        @apply p-2;
        border: 1px solid var(--green);
      }

      svg {
        color: var(--green);
      }
    }
  }

  &-button {
    @apply w-full mt-fiftySixSmall lg:mt-fiftySixBig font-bold text-center text-btnSmall lg:text-btnBig;

    cursor: pointer;
    span {
      border-bottom: 2px solid var(--green);
    }

    svg {
      @apply w-4 h-4;
      display: inline;
    }
  }
  &-cards-container {
    @apply grid grid-rows-3 grid-cols-1 lg:grid-cols-3 w-[95%] m-auto mt-fiftySixSmall lg:mt-fiftySixBig;
  }
}

@media (max-width: 768px) {
}
