.speciality {
  @apply bg-red-200 h-full w-full grid grid-rows-[10%_5%_5%_75%_5%] gap-0;
  // Padding
  @apply pt-eightyBig pb-eightyBig 
         pl-containerSideSmall pr-containerSideSmall
         md:pl-containerSideBig md:pr-containerSideBig;

  &-container {
    @apply h-auto w-full;
  }

  h2 {
    @apply text-h2Small md:text-h2Big font-bold h-[10vh] w-full text-center mb-fortySmall md:mb-fortyBig;
  }
  h5 {
    @apply text-h5Small md:text-h5Big font-bold h-[5vh] w-full text-center  mb-thirtyTwoSmall md:mb-thirtyTwoBig;
  }
  &-nav {
    @apply flex ml-auto mr-auto mb-fiftySixSmall md:mb-fiftySixBig h-[8vh] w-[40vw];
    span {
      @apply w-full;
      border: 1px solid var(--divider);
    }
    display: flex;
    justify-content: center;

    span {
      @apply text-center m-auto h-full w-full font-bold;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .active {
      background-color: var(--indigo);
      color: white;
    }
  }

  &-cards {
    @apply grid grid-rows-4 h-[40vh] w-[100%] ml-auto mr-auto;

    &-content {
      @apply h-full w-full flex flex-col items-center justify-around;
    }

    img {
      @apply h-[7vh] m-auto mt-fortySmall md:mt-fortyEightBig;
    }

    h3 {
      @apply m-auto text-h3Small md:text-h3Big font-bold;
    }

    p {
      @apply text-center text-body1Small md:text-body1Big font-gilroy pl-5 pr-5 mt-sixteen;
    }

    .speciality-arrow {
      @apply flex items-center justify-center mt-twentyFourSmall md:mt-twentyFourBig;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
    }

    svg {
      @apply w-5 h-5;
      color: var(--indigo);
      transition: color 0.3s ease-in-out;
    }

    &:hover {
      transition: 0.3s all ease-in;
      transform: scale(1.01);
      cursor: pointer;
      box-shadow: 0 1px 10px var(--divider);

      h3 {
        color: var(--green);
      }

      .speciality-arrow {
        @apply p-2;
        border: 1px solid var(--green);
      }

      svg {
        color: var(--green);
      }
    }
  }

  &-button{
    @apply bg-yellow-400 m-auto mt-fiftySixBig font-bold;
    cursor: pointer;
    border-bottom: 2px solid var(--green);

    svg{
      display: inline;
    }
  }
  &-cards-container {
    @apply h-auto grid grid-rows-3 grid-cols-3 w-[95%] m-auto mt-fiftySixSmall md:mt-fiftySixBig;
  }
}
